<!DOCTYPE html>
<html>
<head>
    <title>Grocery App - Search Category</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'admin_header.html' %}
    {% include 'banner.html' %}

    <div class="container mt-5">
        <h2>Search Category</h2>
        <form method="POST" action="{{ url_for('admin_search_section') }}">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.category.label }}
                {{ form.category(class="form-control") }}
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <br>
        <h3>Search Results:</h3>
        <ul class="list-group">
            {% for section in sections %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <a href="{{ url_for('manage_products', section_id=section.section_id) }}">{{ section.section_name }}</a>
                    </div>
                    <div>
                        <a href="{{ url_for('edit_section', section_id=section.section_id) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ url_for('delete_section', section_id=section.section_id) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this section?')">Delete</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        
        <p><a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a></p>
    </div>
</body>
</html>
