<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Product</title>
</head>
<body>
    <h2>{{ product.product_name }}</h2>
    <form action="{{ url_for('add_to_cart', section_id=product.section_id, item_id=product.product_id) }}" method="POST">
    
        <label>Availibility</label>
        <input type="text" name="availibility" value="Yes" disabled />
        <br>

        <label>Price_per_unit</label>
        <input type="number" name="price" value="{{ product.rate_per_unit }}" disabled />
        {{product.unit}}
        <br>

        {% if product.quantity_available ==0  %}
        <label>Quantity</label>
        <input type="tetx" name="quantity" value="Out of stock" disabled>
        <br>
        <br>

        <input type="hidden" name="source" value="products_of_section">
        <button type="submit" disabled>Add to Cart</button>

        {% else %}

        <label>Quantity</label>
        <input type="number" name="quantity" value="1" min="1" max="{{product.quantity_available}}">
        <br>
        <br>
        
        <input type="hidden" name="source" value="products_of_section">
        <button type="submit">Add to Cart</button>
        {% endif %}

    </form>
    <br><br>
    <a href="{{ url_for('products_of_section', section_id=product.section_id) }}">Back to Products</a>
</body>
</html>