<!DOCTYPE html>
<html>
<head>
    <title>Manage Products</title>
</head>
<body>
    <h2>{{ section_name }}</h2>
    <h3>Available Grocery Items:</h3>
    <ul>
        {% for item in products %}
        <li>
            <a href=" {{ url_for('product_details', section_id=item.section_id, product_id=item.product_id ) }}">{{ item.product_name }}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
</body>
</html>