<!DOCTYPE html>
<html>
<head>
    <title>Grocery App - Search Products</title>
</head>
<body>
    <h2>Search Products</h2>
    <form method="POST" action="{{ url_for('search_products') }}">
        {{ form.csrf_token }}
        <p>
            {{ form.category.label }}<br>
            {{ form.category(class="form-control") }}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(class="form-control") }}
        </p>
        </p>
        <p>
            {{ form.manufacture_date.label }}<br>
            {{ form.manufacture_date(class="form-control") }}
        </p>
        <p>
            {{ form.expiry_date.label }}<br>
            {{ form.expiry_date(class="form-control") }}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}
        </p>
        <p>
            {{ form.submit }}
        </p>
    </form>
    <h3>Search Results:</h3>
    <ul>
        {% for product in products %}
        <li>
            <!-- {{ product.product_name }} - ${{ product.rate_per_unit }} (Category: {{ product.section.section_name }}) -->
            {{ product.product_name }}
            <br>
            - Category: {{ product.section.section_name }}
            <br>
            - Manuf-Date: {{ product.manufacture_date }}
            <br>
            - Exp-Date: {{ product.expiry_date }}
            <br>
            - Rate-Per-Unit: ${{ product.rate_per_unit }}
            <br>
            <form action="{{ url_for('add_to_cart', section_id=product.section_id, item_id=product.product_id) }}" method="POST">
                <input type="number" name="quantity" value="1" min="1">
                <input type="hidden" name="source" value="search_products">
                <button type="submit">Add to Cart</button>
            </form>
        </li>
        <br>
        {% endfor %}
    </ul>
    <p><a href="{{ url_for('home') }}">Back to Home</a></p>
</body>
</html>